<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments :: html_head"></head>
<body>
<div th:replace="fragments :: navbar_menu"></div>

<!-- Content -->
<div class="justify-content-center main">
    <div class="row">
        <div class="container page-title col-md-11 col-sm-12">
            <h3 data-th-text="#{app.table.header}"></h3>
        </div>
    </div>
    <div class="row">
        <div class="container content bg-white search-container col-md-11 col-sm-12">
            <form action="#" th:action="@{'/'+#{app.message.locale}+'/admin/account/0'}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control form-control-search" data-th-placeholder="#{app.search.placeholder}" name="companyName">
                    <div class="input-group-append">
                        <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container content bg-white col-md-11 col-sm-12">
            <form th:action="@{'/'+#{app.message.locale}+'/admin/account/delete'}" action="#" method="POST">
                <table class="table">
                    <thead>
                    <th class="text-center"></th>
                    <th class="text-center" data-th-text="#{column.header.id}">ID</th>
                    <th class="text-center" data-th-text="#{column.header.company_name}">COMPANY NAME</th>
                    <th class="text-center" data-th-text="#{column.header.records_used}">USED</th>
                    <th class="text-center" data-th-text="#{column.header.contracted_records}">CONTRACT</th>
                    <th class="text-center" data-th-text="#{column.header.updated_at}">UPDATED</th>
                    <th class="text-center" data-th-text="#{column.header.contract_date}">CONTRACT DATE</th>
                    <th class="text-center" data-th-text="#{column.header.edit}">EDIT</th>
                    <th class="text-center" data-th-text="#{column.header.user_management}">USERS</th>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${customers}" class="text-center">
                        <td><input type="checkbox" name="customers" th:value="${customer.id}"></td>
                        <td th:text="${customer.id}"/>
                        <td th:text="${customer.companyName}"/>
                        <td th:text="${customer.recordsUsed}"/>
                        <td th:text="${customer.contractedRecords}"/>
                        <td th:text="${#temporals.format(customer.updatedAt, 'yyyy/MM/dd HH:mm')}"/>
                        <td th:text="${#temporals.format(customer.createdAt, 'yyyy/MM/dd HH:mm')}"/>
                        <td>
                            <a th:href="@{'/'+#{app.message.locale}+'/admin/account/update/' + ${customer.id}}" class="btn btn-sm btn-action">
                                <i class="fas fa-edit" data-th-text="#{row.label.edit}"></i>
                            </a>
                        </td>
                        <td>
                            <a href="" class="btn btn-sm btn-action btn-md" >
                                <i class="fas fa-list" data-th-text="#{row.label.list}"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p th:if="${totalEntries == 0}" style="text-align: center" data-th-text="#{table.footer.message}"></p>
                <div class="float-right">
                    <input type="submit" data-th-value="#{table.button.label.delete}" class="btn btn-sm btn-delete float-right">
                    <a th:href="@{'/'+#{app.message.locale}+'/admin/account/add'}" class="btn btn-sm btn-primary btn-add float-right" data-th-text="#{table.button.label.add}"></a>
                </div>
            </form>
        </div>
        <div class="container pagination-content col-md-11 col-sm-12">
            <span>Showing [[${firstEntry}]] to [[${lastEntry}]] of [[${totalEntries}]] entries</span>
            <ul class="pagination pagination-sm page-numbers float-right">
                <li class="page-item" th:classappend="${currentPageNumber == 0 ? 'disabled' : ''}">
                    <a class="page-link" th:if="${param.companyName}" th:href="@{'/'+#{app.message.locale}+'/admin/account/' + ${offset-1} + '?companyName=' + ${companyName}}" data-th-text="#{table.paging.prev}"></a>
                    <a th:unless="${param.companyName}" th:href="@{'/'+#{app.message.locale}+'/admin/account/' + ${currentPageNumber-1}}" class="page-link" data-th-text="#{table.paging.prev}"></a>
                </li>
                <li class="page-item"
                    th:each="pageNumber : ${pageNumbers}"
                    th:classappend="${pageNumber == customers.number + 1 ? 'active' : ''}">
                    <a class="page-link" th:if="${param.companyName}" th:href="@{'/'+#{app.message.locale}+'/admin/account/' + ${pageNumber-1} + '?companyName=' + ${companyName}}" th:text=${pageNumber}></a>
                    <a class="page-link" th:unless="${param.companyName}" th:href="@{'/'+#{app.message.locale}+'/admin/account/' + ${pageNumber-1}}" th:text=${pageNumber}></a>
                </li>
                <li class="page-item" th:classappend="${currentPageNumber == totalPages-1 ? 'disabled' : ''}">
                    <a class="page-link" th:if="${param.companyName}" th:href="@{'/'+#{app.message.locale}+'/admin/account/' + ${currentPageNumber+1} + '?companyName=' + ${companyName}}" data-th-text="#{table.paging.next}"></a>
                    <a th:unless="${param.companyName}" th:href="@{'/'+#{app.message.locale}+'/admin/account/' + ${currentPageNumber+1}}" class="page-link" data-th-text="#{table.paging.next}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>