<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head th:replace="fragments :: html_head"></head>
    <body class="bg-grey">
        <div th:replace="fragments :: navbar_menu"></div>

        <!-- Content -->
        <div class="justify-content-center bg-grey">
            <div class="row">
                <div class="container page-title col-md-4 col-sm-12">
                    <h3>Add Customer</h3>
                </div>
            </div>
            <div class="row">
                <div class="container content bg-white col-md-4 col-sm-12">
                    <form action="#" th:action="@{save}" th:object="${customer}" method="post">
                        <input type="hidden" th:field="*{id}">

                        <div class="col">
                            <label class="form-label">Company Name:</label>
                            <input type="text" th:field="*{companyName}" class="form-control" required />
                        </div>
                        <div class="col">
                            <label class="form-label">Records Used:</label>
                            <input type="text" th:field="*{recordsUsed}" class="form-control" />
                        </div>
                        <div class="col">
                            <label class="form-label">Contracted Records:</label>
                            <input type="text" th:field="*{contractedRecords}" class="form-control" />
                        </div>

                        <!-- Submit button -->
                        <div class="col">
                            <button type="submit" class="btn btn-success btn-submit float-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>