<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title data-th-text="#{app.welcome.message}"></title>
</head>
<body>
<div>
    <span>
        <a href="/en/home" data-th-text="#{label.lang.en}"></a>&nbsp;&nbsp;&nbsp;
        <a href="/de/home" data-th-text="#{label.lang.de}"></a>&nbsp;&nbsp;&nbsp;
        <a href="/fr/home" data-th-text="#{label.lang.fr}"></a>&nbsp;&nbsp;&nbsp;
        <a href="/ja/home" data-th-text="#{label.lang.ja}"></a>
    </span>
</div>
<h2 data-th-text="#{app.welcome.message}"></h2>
</body>
</html>