<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title data-th-text="#{app.welcome.message}"></title>
</head>
<body>
<div>
    <span>
        <a href="/index?language=en" data-th-text="#{label.lang.en}"></a>&nbsp;&nbsp;&nbsp;
        <a href="/index?language=de" data-th-text="#{label.lang.de}"></a>&nbsp;&nbsp;&nbsp;
        <a href="/index?language=fr" data-th-text="#{label.lang.fr}"></a>
        <a href="/index?language=jp" data-th-text="#{label.lang.jp}"></a>
    </span>
</div>
<h2 data-th-text="#{app.welcome.message}"></h2>
</body>
</html>