<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body class="bg-grey">
    <div th:replace="fragments :: navbar_menu"></div>
    <div class="sidenav">
        <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo_s1.png}" class="nav-logo"/>
            BazaarJADC
        </a>
        <a th:href="@{'/'+#{app.message.locale}+'/admin/account'}" class="sidenav-item">
            <i class="fas fa-book sidenav-icon"></i><span data-th-text="#{app.drawer.label.customer}"></span>
        </a>
        <a th:href="@{'/'+#{app.message.locale}+'/admin/notification/index'}" class="sidenav-item active">
            <i class="fas fa-bell sidenav-icon"></i><span data-th-text="#{app.drawer.label.notifications}"></span>
        </a>
    </div>

    <div class="justify-content-center main">
        <div class="row">
            <div class="container page-title col-md-11 col-sm-12">
                <div th:if="${notification.id}" class="col-12">
                    <h3>Notification Management - Edit</h3>
                </div>
                <div th:unless="${notification.id}" class="col-12">
                    <h3>Notification Management - Add</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container content bg-white col-md-11 col-sm-12">
                <form id="notificationForm" action="#" th:action="@{'/'+#{app.message.locale}+'/admin/notification/save'}" th:object="${notification}" method="POST">

                    <div th:if="${notification.id}" class="col-11 form-field-group">
                        <label class="form-label">ID</label>
                        <input type="text" th:field="*{id}" class="form-control" readonly/>
                    </div>
                    <div th:unless="${notification.id}" class="col-11 form-field-group">
                        <input type="hidden" th:field="*{id}">
                    </div>

                    <div class="col-11 form-field-group">
                        <label class="form-label">Publication Date</label>
                        <input type="datetime-local" th:value="${publicationDate}" class="form-control" name="publicationDateTime" />
                    </div>

                    <div class="col-11 form-field-group">
                        <label class="form-label">Category</label>
                        <select class="form-control" id="categoryDropDownList" th:field="*{notificationCategory}">
                            <option value="0">Information</option>
                            <option
                                    th:each="notificationCategory : ${notificationCategories}"
                                    th:value="${notificationCategory.id}"
                                    th:text="${notificationCategory.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-11 form-field-group">
                        <label class="form-label">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" required />
                    </div>

                    <div class="col-11 form-field-group">
                        <label class="form-label">Body</label>
                        <textarea th:field="*{body}" name="body" id="editor">
                            &lt;p&gt;This is some sample content.&lt;/p&gt;
                        </textarea>
                    </div>

                    <div class="col-11 form-field-group">
                        <button id="notificationFormSubmit" type="button" class="btn btn-sm btn-primary btn-submit float-right" data-th-text="#{form.button.save}"></button>
                        <a th:href="@{'/'+#{app.message.locale}+'/admin/notification/index'}" class="btn btn-sm btn-light btn-cancel float-right" data-th-text="#{form.button.cancel}"></a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: scripts"></div>

</body>
</html>